Project01/force-app/main/default/flows/MyReturnFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>MyDecision</name>
        <label>MyDecision</label>
        <locationX>721</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Done_With_this_Sale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Product</defaultConnectorLabel>
        <rules>
            <name>Add_More_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreItems.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Regular_Return_Details</targetReference>
            </connector>
            <label>Add More Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyDuplicate</name>
        <label>MyDuplicate</label>
        <locationX>360</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Save_My_Return_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate</defaultConnectorLabel>
        <rules>
            <name>Check_For_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prevent_Duplicate</targetReference>
            </connector>
            <label>Check For Duplicate</label>
        </rules>
    </decisions>
    <interviewLabel>MyReturnFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Return Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_My_Return_Detail</name>
        <label>Save My Return Detail</label>
        <locationX>989</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>Product_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Price__c</field>
            <value>
                <elementReference>Retail_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Number__c</field>
            <value>
                <elementReference>Return_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Number__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>T_J_Product_SKU2__c</field>
            <value>
                <elementReference>TJProductSku.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>return_item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Retun</name>
        <label>Save Return</label>
        <locationX>422</locationX>
        <locationY>189</locationY>
        <assignRecordIdToReference>MyLastEntry.Name</assignRecordIdToReference>
        <connector>
            <targetReference>GetMyLastRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Date__c</field>
            <value>
                <elementReference>Return_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Associate__c</field>
            <value>
                <elementReference>SalesAssociate.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Number__c</field>
            <value>
                <elementReference>SalesNumber.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Return</elementReference>
            </value>
        </inputAssignments>
        <object>Return_Sale__c</object>
    </recordCreates>
    <recordLookups>
        <name>CheckDuplicate</name>
        <label>CheckDuplicateItem</label>
        <locationX>562</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MyDuplicate</targetReference>
        </connector>
        <filters>
            <field>T_J_Product_SKU2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TJProductSku.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Return_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyLastEntry.Name</elementReference>
            </value>
        </filters>
        <object>return_item__c</object>
        <outputReference>RecordExist2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetMyLastRecord</name>
        <label>GetMyLastRecord</label>
        <locationX>171</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Regular_Return_Details</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Return_Sale__c</object>
        <outputReference>LastReturnRecorded</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_New_Regular_Return</name>
        <label>Create New Regular Return</label>
        <locationX>209</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Retun</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Return_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SalesAssociate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Associate_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Associate</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SalesNumber</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Return_Sale__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status_Return</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Approved</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_With_this_Sale</name>
        <label>Done With this Sale</label>
        <locationX>972</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InsertText</name>
            <fieldText>&lt;p&gt;Sales has been insert&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Regular_Return_Details</name>
        <label>New Regular Return Details</label>
        <locationX>527</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckDuplicate</targetReference>
        </connector>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TJProductSku</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>T_J_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product SKU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_item__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Retail_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Retail Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Number</dataType>
            <fieldText>Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Commission_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Commission Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Return_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MyLastEntry.Name</elementReference>
            </defaultValue>
            <fieldText>Return ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SalesNumberReturn</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>return_item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prevent_Duplicate</name>
        <label>Prevent Duplicate</label>
        <locationX>50</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Regular_Return_Details</targetReference>
        </connector>
        <fields>
            <name>MyText</name>
            <fieldText>&lt;p&gt;You have Already Saved this Product Add a different Product&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Added</name>
        <label>Product Added</label>
        <locationX>761</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MyDecision</targetReference>
        </connector>
        <fields>
            <name>AddMoreItems</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add More Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Regular_Return</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddMoreProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>getMyLastSale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales__c</objectType>
    </variables>
    <variables>
        <name>LastInsert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastReturnInsert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LastReturnRecorded.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>LastReturnRecorded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Return_Sale__c</objectType>
    </variables>
    <variables>
        <name>LastReturnSaleNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Return_Sale__c</objectType>
    </variables>
    <variables>
        <name>LastSaleRecorded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales__c</objectType>
    </variables>
    <variables>
        <name>LastSalesNumberInsert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LastReturnSaleNumber.Sales_Number__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>MyLastEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Return_Sale__c</objectType>
    </variables>
    <variables>
        <name>MyPickList</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordExist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_item__c</objectType>
    </variables>
    <variables>
        <name>RecordExist2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>return_item__c</objectType>
    </variables>
    <variables>
        <name>Sales_Flow_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales__c</objectType>
    </variables>
</Flow>
