Project-01/force-app/main/default/flows/TJSales_Flow_Number_One.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assignment sale item</description>
        <name>Sale_Item_Detail_Assignment</name>
        <label>Sale Item Detail Assignment</label>
        <locationX>562</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>SalesItemToInsert.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesItemToInsert.Retail_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retail_Price_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesItemToInsert.Commision_rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>commision_rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesItemToInsert.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sale_Item_Exists</name>
        <label>Sale Item Exists?</label>
        <locationX>257</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Sale_Items_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sale item  Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Sale_item_Already_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Item_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sale_Item_Already_Exists</targetReference>
            </connector>
            <label>Sale item Already in System</label>
        </rules>
    </decisions>
    <description>Add sales items</description>
    <interviewLabel>TJSales Flow Number One {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TJSales Flow Number One</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>adding items in the database</description>
        <name>Create_Sales_Item</name>
        <label>Create Sales Item</label>
        <locationX>738</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Sales_Item_Inserted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Commision_rate__c</field>
            <value>
                <elementReference>commision_rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU__c</field>
            <value>
                <elementReference>ProductSKU.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Price__c</field>
            <value>
                <elementReference>Retail_Price_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Number__c</field>
            <value>
                <elementReference>SalesNumber.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Order_Number__c</field>
            <value>
                <elementReference>SpecialOrder.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_item__c</object>
    </recordCreates>
    <recordLookups>
        <description>Existing Sales Item Check</description>
        <name>Sales_Item_Check</name>
        <label>Sales Item Check</label>
        <locationX>265</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sale_Item_Exists</targetReference>
        </connector>
        <filters>
            <field>Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductSKU.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesNumber.recordId</elementReference>
            </value>
        </filters>
        <object>Sales_item__c</object>
        <outputReference>ExistingRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen.</label>
        <locationX>906</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DefaultM</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Item_Already_Exists</name>
        <label>Sale Item Already Exists</label>
        <locationX>50</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ItemExists</name>
            <fieldText>&lt;p&gt;This Item has been already added for this sale please enter the next item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Items_Detail</name>
        <label>Sale Items Detail</label>
        <locationX>385</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Item_Detail_Assignment</targetReference>
        </connector>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Retail_Price_1</name>
            <dataType>Currency</dataType>
            <fieldText>Retail Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Number</dataType>
            <fieldText>Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>commision_rate</name>
            <dataType>Number</dataType>
            <fieldText>commision rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SpecialOrder</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Special_Order_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Special Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_item__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Item_Inserted</name>
        <label>Sales Item Inserted</label>
        <locationX>521</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SalesItemInserted</name>
            <fieldText>&lt;p&gt;Sales Number  {!SalesNumber.recordName} item has been added!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Items</name>
        <label>Sales Items</label>
        <locationX>748</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sales_Item_Check</targetReference>
        </connector>
        <fields>
            <name>ProductSKU</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product_SKU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Item SKU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_item__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SalesNumber</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_item__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>569</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Sales_Items</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ExistingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_item__c</objectType>
    </variables>
    <variables>
        <description>my sales item</description>
        <name>SalesItemToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_item__c</objectType>
    </variables>
</Flow>
